.weatherInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 20px;
    margin: 15px;
    color: white;
    gap: 10px;
    font-weight: 600;
}

.weatherInfo_feelslike{
    font-size: 20px;
    color: rgb(53, 58, 85)
}

.weatherInfoTemp {
    display: flex;
    gap: 15px;
    border: 1px solid #e4e2e2;
    padding: 3px;
    border-radius: 7px;
    color: #e4e2e2;
}

.weatherInfo_description {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-transform: uppercase;
}

.weatherInfo_image {
    width: 40px;
}