body {
    background: linear-gradient(#a619f8, #00f2fe) fixed;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}